@import url("reset.css");

body {
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  max-width: 1264px;
}

body > div {
  position: relative;
}

main {
  padding: 5%;
}

p {
  font-size: 16px; 
  font-weight: 100;
  text-align: left;
  line-height: 24px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

div {
  display: block;
}

a:hover {
  text-decoration: underline;
}

div.menu {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: white;
  border-top: 10px solid #F5F5F5;
  border-bottom: 1px solid #EEE;
}

div.menu nav ul {
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
  text-align: center;
}

div.menu nav li {
  display: inline-block; 
  margin: 0 25px;
}

div.menu nav li a {
  text-transform: uppercase;
  line-height: 44px;
  font-size: 13px;
  font-weight: 500;
}

div.heading {
  top: 55px;
  margin-bottom: 55px;
  height: 428px;
  text-align: center;
  background: url("images/front.jpg") center no-repeat;
}

div.heading .logo {
  position: relative;
  top: 150px;
  width: 80px;
  height: 80px;
}

div.heading h1,
div.heading h2 {
  color: white;
  position: relative;
  top: 150px;
}

div.heading h1 {
  font-size: 72px;
  margin-top: 15px;
}

div.heading h2 {
  font-size: 31px;
  text-transform: uppercase;
  margin-top: 19px;
}

section {
  text-align: center;
  border-top: 1px solid black;
}

section h2 {
  font-size: 48px;
  font-weight: 100;
  margin-top: 123px;
  margin-bottom: 44px;
}

a.button {
  margin: 12px auto;
  background-color: #008001;
  display: block;
  height: 42px;
  width: 232px;
  color: white;
}

a.button:hover {
  text-decoration: none;
}

a.button p {
  line-height: 42px;
  font-weight: 900;
  text-align: center;
}

footer a.button,
section.call-for-papers a.button {
  text-align: left;
  margin: 0 0 10px 0;
}


section.tickets p {
  text-align: center;
}

/************/
/* speakers */
/************/

section.speakers {
  max-width: 940px;
  margin: 0 auto;
}

article.speaker {
  box-sizing: border-box;
  height: 375px;
  width: 279px;
  margin: 0 7px 10px 7px;
  display: inline-block;
  border: 1px solid lightgrey;
  position: relative;
}

div.speaker-front,
div.speaker-bio {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

div.speaker-front {
  z-index: 1;
  background-color: white;
  transition: opacity .5s ease-in-out;
}

div.speaker-front:hover {
  opacity: 0.0;
}

article.speaker img {
  width: 100%;
  height: auto;
}

article.speaker h2 {
  color: #008000; 
  font-size: 24px;
  font-weight: bold;
  margin: 42px 0 0 0;
}

article.speaker p {
  color: #7a7a7a;
  font-size: 16px;
  margin: 10px 0 0 0;
  text-align: center;
}

div.speaker-bio {
  background-color: black;
  padding: 10px;
  line-height: 14px;
}

div.speaker-bio p {
  color: white;
  font-size: 12px;
}

/************/
/* schedule */
/************/

section.schedule table {
  margin: 0 auto;
  text-align: left;
  max-width: 920px;
  font-size: 24px;
}

td {
  border-top: 1px solid #efefef;
  padding: 12px 0;
  vertical-align: middle;
}

td.time {
  width: 84px;
}

td.title {
  width: 75%;
}

td.photo img {
  width: 128px;
  height: 106px;
}

td h3 {
  margin-bottom: 10px; 
}

td h4 {
  color: #008000; 
  font-size: 16px;
  font-weight: bold;
}

/************/
/* location */
/************/

section.location h3 {
  text-align: left;
  font-weight: bold;
  margin: 0 0 10px 80px;
}

section.location img {
  margin: 15px 0;
}

/************/
/* footer   */
/************/

footer {
  background: url(images/people.jpg);
}
