@import url("reset.css");


/********** general styles **********/

body,
html {
  height: 100%;
  position: relative;
}

body {
  padding: 0 15px;
  font: 20px "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

header,
main,
aside,
footer {
  box-sizing: border-box;
}

body,
header,
aside,
footer {
  background: #f2f2f2;
}

main,
aside {
  padding: 20px;
}

nav a,
label {
  color: #a5a5a5;
}

a {
  text-decoration: none;
}

/********** layout **********/

#container {
  padding-left: 300px;
  padding-right: 655px;
}

#container .column {
  float: left;
  position: relative;
}

main {
  width: 100%;
}

#subnavigation {
  width: 300px;
  margin-left: -100%;
  right: 300px;
}

#advertising {
  width: 655px;
  margin-right: -655px;
}

header, footer {
  position: relative;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

footer {
  height: 100px;
  width: 100%;
  background: seagreen;
  position: relative;
  bottom: 0;
}

/********** header and navigation **********/

header img {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

nav {
  vertical-align: baseline;
}

nav ul {
  display: inline;
  float: left;
  position: relative;
}

nav li {
  display: list-item;
  vertical-align: baseline;
  height: 100px;
  float: left;
}

nav a {
  display: block;
  font-size: 20px;
  padding: 2.5em 0 .5em;
  height: 1.75em;
}

li.navbutton {
  background: #f0f0f0;
  /*box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.2);*/
  height: 100px;
  border-right: 1px solid lightgrey;
  padding: 0 40px 0 40px;
}

#logo {
  width: 300px;
  background: white;
}

#logo a {
  padding: 0 10px;
}

ul.socialnav {
  float: left;
  margin-left: 162px;
}

ul.socialnav li {
  padding: 34px 10px 0 0;
  height: 35px;
}

ul.socialnav a {
  display: block;
  box-sizing: border-box;
  width: 35px;
  height: 0;
  position: relative;
  background-image: url("images/channels.svg");
  background-size: 353% 353%;
  overflow: hidden;
  opacity: .45;
  whitespace: nowrap;
}

ul.socialnav a:hover {
  opacity: 1;
}

a.rss {
  background-position: 76% 33%;
}

a.facebook {
  background-position: 76% 64%;
}

a.twitter {
  background-position: 76% 96%;
}

a.mail {
  background-position: 76% -138%;
}

/********** main content **********/

main {
  background: #fff;
  border-radius: 0 20px;
  padding: 20px;
  box-shadow: 5px -5px 5px 5px rgba(0,0,0,0.02);
}

/********** advertising aside **********/

aside#advertising {
  position: relative;
  top: -60px;
  padding-left: 40px;
}

aside label,
aside input {
  display: block;
}

aside label {
  margin-bottom: 20px;
}

aside input {
  height: 50px;
  width: 465px;
  border: 1px solid lightgrey;
  border-radius: 10px 0 0 10px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  float: left;
}

#advertising button {
  background: red;
  border: 1px solid black;
  height: 50px;
  width: 100px;
  font-size: inherit;
  color: #fff;
  border-radius: 0 10px 10px 0;
}

/********** navigation aside **********/

#subnavigation {
  background: #fff;
  padding-left: 0;
}

#subnavigation ul {
  margin: 0;
}

.list-heading {
  text-transform: uppercase;
  font-weight: bold;
}

.list-item {
  color: #a5a5a5;
  padding: 0;
}

#subnavigation li.main-list {
  border-left: 15px solid;
  padding: 10px 0 50px 30px;
  padding-left: 30px;
}

#subnavigation a.list-heading,
#subnavigation li.list-item {
  display: block;
  margin-bottom: 20px;
}

#subnavigation li.coding {
  border-color: #c8ebe4;
}

#subnavigation li.design {
  border-color: #caeea6;
}

#subnavigation li.mobile {
  border-color: #f9efa7;
}

#subnavigation li.graphics {
  border-color: #e2cfe2;
}

#subnavigation li.ux-design {
  border-color: #facdd4;
}

#subnavigation li.wordpress {
  border-color: #bad8f2;
}

/********** articles **********/

main article h2 {
  font: 32px "Times New Roman", serif;
  font-weight: bold;
}


