@import url("reset.css");

p {
}

p::selection {
  color: blue;
  background: yellow;
  text-decoration: underline;
}

.box {
  height: 100px;
  width: 100px;
}

.green {
  background: seagreen;
}

.blue {
  background: skyblue;
  margin: 10px 30px 50px 60px;
  border: 3px black solid;
}

.purple {
  background: purple;
}

.purple::before {
  content: "hello";
  color: white;
}

.purple::after {
  content: "again";
  color: white;
}

.purple p {
  color: white;
}

.pseudo {
  background: yellow;
  width: 300px;
}

.pseudo p:first-of-type {
  font-weight: bold;
}

main {
  border: 3px solid black;
}

.floated {
  float: left;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear-hidden {
  overflow: hidden;
}

.clear-float {
  float: left;
}

.clear-element {
  clear: both;
}
