@import url("reset.css");

body {
  font-family: Helvetica, Arial, sans-serif
}

main {
  height: auto; /*826px;*/
  width: 420px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 3px 5px;
}  

h1 {
  font-size: 49px;
  font-family: "Arial Black", sans-serif; 
  font-weight: 900;
  margin: -2px;
}

p {
  font-size: 22px;
  line-height: 22px;
}

header {
  padding-bottom: 5px;
  border-bottom: 18px solid black;
  margin-bottom: 8px;
}

em {
  font-style: italic;
}

dl {
  border-bottom: 8px solid black;
  padding-bottom: 3px;
}

dt {
  font-family: "Arial Black", sans-serif; 
  font-size: 15px;
  font-weight: 900;
  padding-bottom: 6px;
  border-bottom: 1px solid black;
  margin-bottom: 6px;
}

dd {
  display: inline-block;
  font-size: 20px;
}

dd span {
  font-family: "Arial Black", sans-serif; 
}

dd:first-child {
  float: left;
}

dd:last-child {
  float: right;
}

table {
  width: 100%;
  font-size: 22px;
}

table strong {
  font-family: "Arial Black", sans-serif; 
  font-size: 16px;
  font-weight: 900;
}

table:first-of-type {
  border-bottom: 20px solid black;
}

td {
  height: 29px;
  border-bottom: 1px solid black;
  vertical-align: middle;
}

td span {
  font-family: "Arial Black", sans-serif; 
}

tr td:last-child {
  text-align: right;
}

td.indent {
  width: 28px;
  border-bottom: white;
}

table + p {
  margin-top: 4px;
  font-size: 15px;
  line-height: 19px;
  padding-left: 10px;
  text-indent: -10px;
}

table:last-child {
  font-size: 15px;
  margin-top: 6px;
  text-align: left;
}

table:last-child thead {
  border-bottom: 1px solid black;
}

table:last-child tbody:before {
  content: "-";
  display: block;
  line-height: 0px;
  color: transparent;
}

table:last-child td {
  height: 18px;
  border-bottom: 0;
  text-align: left;
}

