@import url("reset.css");

body {
  font: normal 16px "Source Sans Pro", sans-serif;
}

p {
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div {
  display: block;
}

#content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header.site-header {
  background: url("images/gr_header.png") no-repeat;
  background-size: 100% 100%;
  background-color: #3076b2;
  height: 463px;
  box-sizing: border-box;
  padding: 16px 0 0 5px;
}

header.site-header ul.site-nav:before {
  display: inline-block;
  vertical-align: middle;
  content: url("images/gr_js_logo_white.jpg");
  padding-right: 10px;
}

header.site-header h1 {
  font-size: 2.1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  margin: 122px 0 0 0;
}

header.site-header h1 span.first-word {
  color: #f6dd49;
}

header.site-header h1:after {
  display: inline-block;
  vertical-align: -100%;
  content: url("images/gr_js_logo_yellow.jpg");
}

header.site-header h1 span.sign {
  font-weight: 100;
  font-size: 1.7em; 
  padding: 0 17px;
  vertical-align: -11%;
}

nav {
  text-align: left;
  padding-left: 5%
}

nav a {
  color: #e1ffff;
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: .5px;
}

nav li {
  display: inline-block;
  padding: 0 16px;
}

nav ul.social {
  position: absolute;
  top: 26px;
  right: 10px;
}

nav ul.social a {
  display: block;
  width: 28px;
  height: 28px;
  background: url("images/gr_social.png");
  background-size: auto 28px;
  background-repeat: no-repeat;
  text-indent: -9999;
}

nav ul.social a.twitter {
  background-position: 0px 0px;
  margin: 0 22px 0 0;
}

nav ul.social a.facebook {
  background-position: -30px 0px;
}

main {
  margin: 78px auto;
}

main p {
  font-size: 1.9em;
  color: #545454;
  font-weight: 100;
  line-height: 1.4em;
}

section header {
  margin: 0 0 50px 0;
}

section header h1 {
  display: inline-block;
  position: relative;
  margin: 120px 0 0 0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #347fc0;
  height: 50px;
  vertical-align: middle;
}

section header h1 span {
  display: block;
  position: absolute;
  width: 84px;
  height: 84px;
  top: 50%;
  margin-top: -42px;
}

section header h1 span.left {
  left: -84px; 
}

section header h1 span.right {
  right: -84px;
}

section header h1 span:before,
section header h1 span:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

section header h1 span.left:before {
  top: 0;
  left: 0;
  border-width: 42px 0 42px 42px;
  border-color: transparent transparent transparent #007bff;
  opacity: .2;
}

section header h1 span.left:after {
  border-width: 0 42px 42px 42px;
  border-color: transparent transparent #007bff transparent;
  opacity: .05;
  bottom: 0;
  left: 0;
}

section header h1 span.right:before {
  top: 0;
  left: 0;
  border-width: 42px 42px 0 42px;
  border-color: #3580c2 transparent transparent transparent;
  opacity: .05;
}

section header h1 span.right:after {
  border-width: 42px 42px 42px 0;
  border-color: transparent #3580c2 transparent transparent;
  opacity: .10;
  bottom: 0;
  right: 0;
}

main p.opener {
  margin: 0 auto;
  width: 580px; 
  text-align: center;
}

main p span.bolded {
  color: #1f1f1d;
  font-weight: 600;
}

section.speakers,
section.workshops {
  max-width: 1200px;
}

section article.speaker {
  width: 420px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 0 30px 60px 0;
}

section article.speaker img,
section article.workshop img {
  height: 120px;
  width: 120px;
}

section article.speaker .img,
section article.workshop .img {
  position: relative;
  height: 120px;
  width: 120px;
  float: left;
  padding: 0 10px 0 0;
}

section article.speaker .img:before,
section article.workshop .img:before {
  border-width: 0 12px 12px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  right: 10px;
}

section article.speaker .img:after,
section article.workshop .img:after {
  border-width: 12px 0 0 12px;
  border-color: transparent transparent transparent #fff;
  bottom: 0;
  left: 0;
}

section article.speaker .img:before,
section article.speaker .img:after,
section article.workshop .img:before,
section article.workshop .img:after {
  position: absolute;
  content: "";
  border-style: solid;
}

section article span.speaker-name {
  color: #2b81ce;
  font-size: 24px;
  text-transform: uppercase;  
}

section article span.speaker-twitter a {
  color: #a2a2a2;
  font-size: 20px;
  font-weight: 100;
}

section article h3.speaker-title {
  color: #e42c2a;
  font-size: 18px;
  font-weight: 600;
}

section article.workshop {
  text-align: left;
  padding: 0 142px 50px 142px;
}

section article.workshop div {
  margin-top: 10px;
}

section article.workshop h2 {
}

section article.workshop h2 a {
  font-size: 30px;
  color: #2a7ec6;
  font-weight: 600;
}

section article.workshop h3 {
  font-size: 24px;
}

section article.workshop h3 a {
  color: #2a7ec6;  
}

section article.workshop p {
  font-size: 1.5em; 
}

section.sponsors div.sponsors-secondary {
  margin: 0 250px;
}

section.sponsors div.sponsor-main img {
  width: 50%;
  margin: 0 0 40px 0;
}

section.sponsors div.sponsor-secondary {
  display: inline-block;
}

section.sponsors div.sponsor-secondary img {
  width: 200px;
  padding: 0 15px 30px 15px;
}

section.sponsors h2,
section.sponsors p,
section.news h2,
section.news h3,
section.news p,
section.venue p {
  text-align: left;
  line-height: 60px;
  margin: 0 0 0 150px;
}

section.sponsors h2,
section.news h2 {
  font-size: 24px;
  font-weight: 600;
}

section.sponsors p,
section.news p,
section.venue p {
  font-size: 24px;
}

section.venue h2 {
  font-size: 30px;
  text-align: left;
  margin: 0 0 0 150px;
}

section.venue div.inset p {
  font-style: italic;
  line-height: 40px;
  border-left: 4px solid darkblue;
  padding-left: 20px;
}

section.venue div p.citation a {
  font-size: 16px;
  display: block;
  text-align: right;
}

footer {
  margin-bottom: 30px;
}

footer nav {
  text-align: center;
}
footer p,
footer a {
  font-size: 12px;
}

footer a {
  color: grey;
}
